@{
    ViewData["Title"] = "Cors Demo";
}

<div class="row">
    <div class="col-12">
        <form class="form-inline">
            <button class="btn btn-primary" onclick="loadProducts()">Load Products</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div id="product-list" class="card-deck">
        </div>
    </div>
</div>
@section Scripts {
<script src="~/js/products.js"></script>
}